#logo_and_motto {
  display: flex;
  flex-direction: column;
}

#background_video {
  object-fit: cover;
  height: 30rem;
  width: 100%;
  /* width: 100vw;
  height: 100vh; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* .home-heading {
  /* font-size: 30rem; */

.searchForm {
  margin-top: 3rem;
  width: 20rem;
}

.form {
  display: flex;
  justify-content: center;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

